#  Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
.venv
.activate.sh
.deactivate.sh

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# tmux config
t

# pytest
.pytest_cache
tests/*.log


todo/

.gitattributes

pyant.egg-info/
